.logo
{
    width: 40px;
    height: 40px;
}

.nav-bg
{
    background-color: #6eb0db !important
}

.footer
{
    background-color: #2a59c0 !important  
}

.right{
    float: right;
}

.left{
    float: left;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signup {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
  }
  .form-signup .checkbox {
    font-weight: 400;
  }
  .form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  /* Start Menu  Responsive*/

  label{
    margin: 0 15px 0 0;
    font-size: 25px;
  }
  .hide{
    display: none;
  }

  #toggle{
    display: none;
  }

  @media only screen and (max-width: 767px){
    .hide{
      display: block;
      cursor: pointer;
    }
    .navbar-nav li{
      text-align: center;
      width: 100%;
    }
    .navbar-nav li.nav-item a{ 
      display: block;
      border-bottom: 1px solid gray;
      margin: 0;
    } 
    #toggle:checked + .navbar-collapse{
      display: block;
    }
  }
  /* End Menu Responsive */

  .bg-reg{
    background-color: #e9ecef
  }

  .reg{
    width: 100%;
    height: 100%;
    bottom: 0;
  }

video{
  border-color: black;
}

#canvas{
  display: none;
}
.thum img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
}

.thum img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}